/* Palete */
/*
  Pale:
  #fdfdf5

  Oranges/Browns:
  #ec9a33
  #422b0e
  #976321
*/

* {
  font-family: Poppins;
}

body {
  background-color: #FDFDF5;
}

#app {
  max-width: 85%;
  margin: auto;
}

#header {
  font-weight: 600;
  font-size: 4em;
  margin: 0;
  color: #ec9a33;
  text-shadow: 2px 2px #422b0e;
}


.checklist {
  height: 100%;
  min-height: 336px;
  padding-inline-start: 0;
  margin: 0;
  padding: 5px 15px;
}

.checklist li {
  list-style: none;
}

#newItemInput {
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  font-size: 1em;
  background: transparent;
  margin-top: 20px;
}

#delete {
  position: absolute;
  font-size: 0.75em;
  top: 0;
  right: 0;
  margin-top: 12px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #535355;
}

#delete:hover,
#delete:focus {
  color: #db0000;
}

#moveDown {
  position: absolute;
  font-size: 0.75em;
  top: 0;
  right: 33px;
  margin-top: 12px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #535355;
}

#moveDown:hover,
#moveDown:focus {
  color: #000;
}

#moveDown:disabled,
#moveDown:disabled:hover {
  color: #969696;
  cursor: not-allowed;
}

#moveUp {
  position: absolute;
  font-size: 0.75em;
  top: 0;
  right: 66px;
  margin-top: 12px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #535355;
}

#moveUp:hover,
#moveUp:focus {
  color: #000;
}

#moveUp:disabled,
#moveUp:disabled:hover {
  color: #969696;
  cursor: not-allowed;
}

#checklist-container {
  display: flex;
  flex-wrap: wrap;
}

#checklist-container div {
  padding: 0;
  flex-basis: calc(50% - 4px);
}

#checklist-container div:nth-child(1) {
  border-right: 1px solid #422b0e;
  border-bottom: 1px solid #422b0e;
}

#checklist-container div:nth-child(2) {
  border-bottom: 1px solid #422b0e;
  border-left: 1px solid #422b0e;
}

#checklist-container div:nth-child(3) {
  border-right: 1px solid #422b0e;
  border-top: 1px solid #422b0e;
}

#checklist-container div:nth-child(4) {
  border-left: 1px solid #422b0e;
  border-top: 1px solid #422b0e;
}

.list {
  font-size: 2em;
  padding: 0 40px;
}

.srt {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

.done {
  text-decoration: line-through;
  color: #535355;
}

.todo-item {
  position: relative;
}

.item {
  display: block;
  padding: 0 99px 0 40px;
  line-height: 1.5em;
  min-height: 1.5em;
}

.item input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  float: right;
}

.break::after {
    content: '';
    width: 85%;
    height: 1px;
    background: black;
    display: block;
    position: relative;
    top: -25px;
    margin-left: 40px;
}

.checkmark {
  top: 10px;
  left: 0;
  position: absolute;
  height: 25px;
  width: 25px;
  border: solid;
  border-width: 1px;
  border-radius: 20%;
  border-color: #ccc;
}

/* On mouse-over, add a grey background color */
.item:hover input:checked ~ .checkmark,
.item:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.item input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.item input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.item .checkmark:after {
  left: 9px;
  top: 2px;
  width: 5px;
  height: 14px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.category-label {
  margin: 0;
}
